# 3. An Informal Introduction to Python

## 3.1. Using Python as a Calculator

### 3.1.1. Numbers

In [2]:
2 + 2

4

In [3]:
50 - 5*6

20

In [4]:
(50 - 5*6) / 4

5.0

In [5]:
8 / 5  # division always returns a floating point number

1.6

In [6]:
17 / 3  # classic division returns a float

5.666666666666667

In [7]:
17 // 3  # floor division discards the fractional part

5

In [8]:
17 % 3  # the % operator returns the remainder of the division

2

In [9]:
5 * 3 + 2  # result * divisor + remainder

17

In [10]:
 2 ** 7  # 2 to the power of 7

128

In [11]:
width = 20
height = 5 * 9
width * height

900

### 3.1.2. Strings

In [12]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [13]:
s = 'First line.\nSecond line.'  # \n means newline
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [14]:
# If you don’t want characters prefaced by \ to be interpreted as special characters, 
# you can use raw strings by adding an r before the first quote:
print(r'C:\some\name')

C:\some\name

In [15]:
# String literals can span multiple lines. One way is using triple-quotes: """...""" or '''...'''. 
# End of lines are automatically included in the string, but it’s possible to prevent this by adding 
# a \ at the end of the line.
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [16]:
3 * 'un' + 'ium'

'unununium'

In [18]:
# Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically 
# concatenated.
print('Py' 'thon')

Python

In [19]:
text = ('Put several strings within parentheses '
         'to have them joined together.')
print(text)

Put several strings within parentheses to have them joined together.

In [1]:
# Strings can be indexed (subscripted), with the first character having index 0. 
# There is no separate character type; a character is simply a string of size one:
word = 'Python'
word[0]  # character in position 0

'P'

In [2]:
word[5]  # character in position 5

'n'

In [4]:
word[-1]  # last character

'n'

In [5]:
word[-2]  # second-last character

'o'

In [6]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [7]:
# Note how the start is always included, and the end always excluded. 
# This makes sure that s[:i] + s[i:] is always equal to s:
word[:2] + word[2:]

'Python'

In [8]:
# Python strings cannot be changed — they are immutable. Therefore, assigning to an indexed position in the 
# string results in an error:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [9]:
# If you need a different string, you should create a new one:
'J' + word[1:]

'Jython'

In [10]:
# The built-in function len() returns the length of a string:
s = 'supercalifragilisticexpialidocious'
len(s)

34

### 3.1.3. Lists

In [11]:
squares = [1, 4, 9, 16, 25]
squares[0]  # indexing returns the item

1

In [12]:
squares[-1]

25

In [13]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [14]:
# All slice operations return a new list containing the requested elements. This means that the following 
# slice returns a shallow copy of the list:
squares[:]

[1, 4, 9, 16, 25]

In [15]:
squares + [36, 49, 64, 81, 100] # Lists also support operations like concatenation:

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [17]:
# You can also add new items at the end of the list, by using the append() method (we will see more 
# about methods later):
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 343]

In [18]:
# Assignment to slices is also possible, and this can even change the size of the list or clear it entirely:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters[2:5] = ['C', 'D', 'E'] # replace some values
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [19]:
letters[2:5] = [] # now remove them
letters

['a', 'b', 'f', 'g']

In [20]:
letters[:] = [] # clear the list by replacing all the elements with an empty list
letters

[]

In [21]:
letters = ['a', 'b', 'c', 'd'] # The built-in function len() also applies to lists:
len(letters)

4

In [22]:
# It is possible to nest lists (create lists containing other lists), for example:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [23]:
x[0]

['a', 'b', 'c']

In [24]:
x[0][1]

'b'

## 3.2. First Steps Towards Programming

In [25]:
# Fibonacci series: the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8