# 5. Data Structures

## 5.1. More on Lists

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

fruits.count('apple')

2

In [2]:
fruits.count('tangerine')

0

In [3]:
fruits.index('banana')

3

In [4]:
fruits.index('banana', 4)  # Find next banana starting a position 4

6

In [5]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [6]:
fruits.append('grape')
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [7]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [8]:
fruits.pop()

'pear'

In [9]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

Other methods in the list object include:\
list.extend(iterable): Extend the list by appending all the items from the iterable.\
list.remove(x): Remove the first item from the list whose value is equal to x.\
list.clear(): Remove all items from the list. Equivalent to del a[:]\
list.sort(*, key=None, reverse=False)\
list.copy(): Return a shallow copy of the list. Equivalent to a[:].

### 5.1.1. Using Lists as Stacks

In [12]:
'''The list methods make it very easy to use a list as a stack, where the last element added is the first 
element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an 
item from the top of the stack, use pop() without an explicit index. For example:
'''

stack = [3, 4, 5]
stack.append(6)
stack.append(7)

stack

[3, 4, 5, 6, 7]

In [13]:
stack.pop()

7

In [14]:
stack

[3, 4, 5, 6]

In [15]:
stack.pop()

6

In [16]:
stack

[3, 4, 5]

### 5.1.2. Using Lists as Queues

In [18]:
'''While appends and pops from the end of list are fast, doing inserts or pops from the beginning of a list is 
slow (because all of the other elements have to be shifted by one).

To implement a queue, use collections.deque which was designed to have fast appends and pops from both ends. 
'''

from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue

deque(['Eric', 'John', 'Michael'])

In [20]:
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [21]:
queue.popleft()                 # The first to arrive now leaves

'Eric'

In [22]:
queue.popleft()                 # The second to arrive now leaves

'John'

### 5.1.3. List Comprehensions

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [23]:
squares = []
for x in range(10):
    squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [25]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [3]:
vec = [-4, -2, 0, 2, 4]

In [4]:
# create a new list with the values doubled
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [5]:
# filter the list to exclude negative numbers
[x for x in vec if x >= 0]

[0, 2, 4]

In [6]:
# apply a function to all the elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [7]:
# call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [8]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [9]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-9-702d12ece8a4>, line 2)

In [10]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
from math import pi
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### 5.1.4. Nested List Comprehensions

In [12]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
]

In [13]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [14]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## 5.2. The del statement

In [15]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [16]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [17]:
del a[:]
a

[]

In [18]:
del a # del can also be used to delete entire variables:
a

NameError: name 'a' is not defined

## 5.3. Tuples and Sequences

In [19]:
# A tuple consists of a number of values separated by commas, for instance:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [20]:
t[0]

12345

In [21]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [22]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [23]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [24]:
v[0][0] = 5

In [25]:
v

([5, 2, 3], [3, 2, 1])

In [26]:
# Empty tuples are constructed by an empty pair of parentheses; a tuple with one item is constructed by 
# following a value with a comma. 
empty = ()
singleton = 'hello',    # <-- note trailing comma
tuple2 = ('hi',)

In [27]:
len(empty)

0

In [28]:
len(singleton)

1

In [29]:
len(tuple2)

1

In [30]:
x, y, z = t   # sequence unpacking

In [31]:
x

12345

Though tuples may seem similar to lists, they are often used in different situations and for different purposes. Tuples are immutable, and usually contain a heterogeneous sequence of elements that are accessed via unpacking (see later in this section) or indexing (or even by attribute in the case of namedtuples). Lists are mutable, and their elements are usually homogeneous and are accessed by iterating over the list.

## 5.4. Sets

Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary

In [32]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket                     # show that duplicates have been removed

{'apple', 'banana', 'orange', 'pear'}

In [33]:
'orange' in basket                 # fast membership testing

True

In [34]:
a = set('abracadabra')
b = set('alacazam')

In [35]:
a

{'a', 'b', 'c', 'd', 'r'}

In [36]:
b

{'a', 'c', 'l', 'm', 'z'}

In [37]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [38]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [39]:
a & b                              # letters in both a and b

{'a', 'c'}

In [40]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [41]:
# Similarly to list comprehensions, set comprehensions are also supported:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

## 5.5. Dictionaries

Dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys.

A pair of braces creates an empty dictionary: {}

Performing list(d) on a dictionary returns a list of all the keys used in the dictionary, in insertion order (if you want it sorted, just use sorted(d) instead).

In [48]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [49]:
tel['jack']

4098

In [50]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [51]:
list(tel)

['jack', 'guido', 'irv']

In [52]:
sorted(tel)

['guido', 'irv', 'jack']

In [53]:
'guido' in tel

True

In [54]:
'jack' not in tel

False

In [55]:
# The dict() constructor builds dictionaries directly from sequences of key-value pairs:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [56]:
# dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [1]:
# When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

## 5.6. Looping Techniques

In [57]:
# When looping through dictionaries, the key and corresponding value can be retrieved at the same time 
# using the items() method.

knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [58]:
# When looping through a sequence, the position index and corresponding value can be retrieved at the same 
# time using the enumerate() function.

for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [59]:
# To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [60]:
# To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the 
# reversed() function.

for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [61]:
# To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while 
# leaving the source unaltered
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [63]:
# It is sometimes tempting to change a list while you are looping over it; however, it is often simpler 
# and safer to create a new list instead.

import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
        
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

## 5.7. More on Conditions

## 5.8. Comparing Sequences and Other Types

In [64]:
(1, 2, 3) < (1, 2, 4)

True

In [65]:
[1, 2, 3]  < [1, 2, 4]

True

In [66]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [67]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [68]:
(1, 2)                 < (1, 2, -1)

True

In [69]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [70]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True